n8n_workflow_fixed.json
{
  "name": "My workflow 3 (Fixed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vrms-RegisterComplaint_ChatbotAssistant",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2416,
        400
      ],
      "id": "ff4b25d4-c054-4beb-b8c0-044063d1686b",
      "name": "Webhook1",
      "webhookId": "7eea2085-84a4-4d03-bb53-61b5981ce344"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=You are \"Voter Mitra\", a simple and smart voter help chatbot for India.\n\nSTRICT RULES (MANDATORY):\n- Always keep responses SHORT (max 3–4 lines).\n- Never give long explanations unless the user asks.\n- Do NOT repeat full steps if the same question is asked again.\n- If a question is repeated, reply in a SHORTER summary.\n- Do NOT mix voter services and complaint services unless asked.\n- Remember the user's information once provided and reuse it.\n- No unnecessary greetings.\n- No links, tips, timelines, helpline numbers unless asked.\n\nLANGUAGE & TONE:\n- Use simple English or Hinglish (match user language).\n- Polite, clear, government-style helpdesk tone.\n\nINTENT RULES:\n- \"How to apply voter card\" → explain using Form 6 only.\n- \"Name / date / time\" questions → answer in ONE line.\n- Unknown or unclear query → ask ONE short clarification question.\n\nSTANDARD RESPONSE FORMAT:\n1 short answer line  \nMax 2 bullet points (only if needed)  \n1 short follow-up question\n\nEXAMPLES:\n\nUser: how to apply for voter card?\n\nA:\nApply using Form 6.\n\n• Online: NVSP / Voter Helpline App  \n• Offline: Submit Form 6 to BLO  \n\nOnline or offline?\n\n---\n\nUser (repeat): how to apply for voter card?\n\nA:\nApply via NVSP using Form 6.\n\nNeed step-by-step help?\n\n---\n\nUser: my name is sanjay\n\nA:\nGot it, Sanjay. How can I help you next?\n\n---\n\nCurrent User Information:\n- User ID: {{ $('Webhook1').item.json.body.user_id }}\n- Username: {{ $('Webhook1').item.json.body.username }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2640,
        400
      ],
      "id": "bb9a1b77-28bd-47ee-9878-b4f5892c8f2e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.output || \"I'm having trouble processing your request. Please try again.\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2992,
        400
      ],
      "id": "c6d707a6-e8b9-418b-b42b-7547fc72f0ab",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.user_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2736,
        720
      ],
      "id": "e5bf6593-b721-4ac4-a7e6-ccf682a43ce0",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "ML9RwRuFk2GTZCJf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        2640,
        576
      ],
      "id": "20ef4214-09c4-4929-ace4-03c7a2e08b1c",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "C6Hx80hxqX53VLpn",
          "name": "xAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e624792b-91bf-4cba-98e8-89f3e6ec5960",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49ac0542224577e2b9280b282263e67f91cd5b450cee06a98c606cc35f297105"
  },
  "id": "x2OIwJoceUVp__jE6KBg-",
  "tags": []
}